.titulo-principal {
    text-align: center;
    color: rgb(255, 190, 39);
}

.page-body {
    background-color: #000000 ;
}

#btn-buscar{
    justify-self: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}